* {
    /* margin: 10;
    padding: 10; */
    box-sizing: border-box;
    text-align: center;
    /* background-color: blanchedalmond; */
  }

body { 
  padding-top: 50px; 
}

.sticky-top{
  position: sticky;
  padding-top: 60px;

}

.modal-content{
  background-color:#292b2c !important;
}

.modal-body{
  background-color:#292b2c !important;
}

/* 
  html,body, body * { 
    font-family: 'Open Sans', sans-serif; 
    color:inherit;
    background-color:inherit;
   font-size: 25px;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10;
  }
  
  button:hover,
  button:focus {
    background:transparent;
  }
  
  button:focus {
    outline: none;
  
  } */
