.Navbar {
    width: 100%;
    height: 20px;
    background-color: rgb(235, 182, 248);
    box-shadow: 2px 2px 5px black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* color: white; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -250px;

}

.Navbar a{
    font-size: 21px;
    margin: 11px;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Navbar a:hover{
    cursor:pointer;
    background-color: rgb(165, 165, 165);
}

/* a:visited{
    color:white;
  } */