/* .Navbar {
    width: 100%;
    height: 50px;
    background-color: rgb(2, 2, 2);
    box-shadow: 2px 2px 5px black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -250px;
    text-align: center;
}

.Navbar a{
    font-size: 18px;
    margin: 20px;
    text-decoration: none;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}

.Navbar a:hover{
    cursor:pointer;
    background-color: rgb(44, 44, 44);
}
/* a:visited{
    color:white;
  } */ 
